@charset "utf-8";
@import url(common.css);

.wrapper{
    top: 55px;
    position: relative;
    background-color: transparent;
}
.normalheader {
    min-width: 320px;
    padding: 40px 40px 0 40px;
    transition: padding .5s;
    padding-top: 30px;
}
.hpanel{
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}
.panel-body{

    /* css 스크롤*/
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 20px 30px 10px;
    position: relative;
    background: #fff;
}
.normalheader .panel-body{
    border: 0;
    background-color: transparent;
}
#hbreadcrumb{
    margin-top: 30px;
}
.breadcrumb{
    padding: 2px 0;
    margin-top: 6px;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    font-size: 12px;
}
.breadcrumb>.active{
    color: #1ab394 !important;
}
.hpanel h2{
    margin-top: 0;
}
.hpanel h2:before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #444;
    margin-right: 9px;
    margin-top: -5px;
    vertical-align: middle;
}


.inline-box-lg > ul > li{
    width: 25%;
    display: inline-block;
    margin-right: 20%;
    background: #fff;
    /*
    padding: 20px;
    */
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all .2s;
}
.inline-box-lg > ul > li:last-child{
    margin-right: 0;
}
.inline-box-lg > ul > li:hover{
    background-color: #1ab394 !important;
    color: #fff;
}
.inline-box-lg > ul > li > span{
    font-size: 38px;
    color: #656565;
}
.inline-box-lg > ul > li:hover > span,.inline-box-lg > ul > li:hover > p{
    color: #fff;
}
.inline-box-lg > ul > li > p{
    font-size: 16px;
    color: #333;
    margin-top: 4px;
}
.p-box{
    text-align: center;
}
.inline-box-m .p-box{
    padding: 18px 12px;
    background: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all .2s;
}
.inline-box-m .p-box > p{
    margin: 0;
}
.inline-box-m div:nth-of-type(1) .p-box{
    border-top: 3px solid #1ab394;
}
.inline-box-m div:nth-of-type(2) .p-box{
    border-top: 3px solid #1ab394;
}
.inline-box-m div:nth-of-type(3) .p-box{
    border-top: 3px solid #1ab394;
}
.inline-box-m div:nth-of-type(4) .p-box{
    border-top: 3px solid #1ab394;
}

.p-box.active{
    background-color: #1ab394 !important;
    color: #fff;
}

.inline-box-m div:nth-of-type(1) .p-box:hover, .inline-box-m div:nth-of-type(1) .p-box:active, .inline-box-m div:nth-of-type(1) .p-box:focus{
    background-color: #1ab394 !important;
    color: #fff;
}
.inline-box-m div:nth-of-type(2) .p-box:hover, .inline-box-m div:nth-of-type(2) .p-box:active, .inline-box-m div:nth-of-type(2) .p-box:focus{
    background-color: #1ab394;
    color: #fff;
}
.inline-box-m div:nth-of-type(3) .p-box:hover, .inline-box-m div:nth-of-type(3) .p-box:active, .inline-box-m div:nth-of-type(3) .p-box:focus{
    background-color: #1ab394;
    color: #fff;
}
.inline-box-m div:nth-of-type(4) .p-box:hover, .inline-box-m div:nth-of-type(4) .p-box:active, .inline-box-m div:nth-of-type(4) .p-box:focus{
    background-color: #1ab394;
    color: #fff;
}
.panel-body.tag-form{
    padding: 40px 20px 60px;
}
.panel-body .tag-list{
    padding: 22px 40px;
    margin: 0 auto;
}
.tag-list .coment{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
.tag-list ul li{
    display: inline-block;
}
.tag-list ul li > a{
    display: block;
    width: 180px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin: 10px;
}

.tag-list ul li > a.activeArea{
    background-color: #23c6c8 !important;
    color: #fff;
}

.panel-body .tag-list:nth-of-type(1) li > a:hover, .panel-body .tag-list:nth-of-type(1) li > a:active, .panel-body .tag-list:nth-of-type(1) li > a:focus{
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}
.panel-body .tag-list:nth-of-type(2) li > a.activeArea:hover, .panel-body .tag-list:nth-of-type(2) li > a.activeArea:active, .panel-body .tag-list:nth-of-type(2) li > a.activeArea:focus{
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.panel-body.visual-img{
    padding: 0;
}
.panel-body.visual-img > img{
    width: 100%;
}
.i-box{
    display: inline-block;
    margin-right: 15px;
}
.i-box .tit-sm{
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
}
.i-box .txt-sm{
    display: inline-block;
}
.tag-job{
    padding: 6px 12px;
    background: #fff;
    border-radius: 3px;
    min-width: 100px;
    text-align: center;
    margin-left: 6px;
    color: #fff;
}
.tag-job.tag-job-1{
    background: #23c6c8;
}
.tag-job.tag-job-2{
    background: #7266ba;
}
.tag-job.tag-job-3{
    background: #5d9cec;
}
.tag-job.tag-job-4{
    background: #ff902b;
}
.tag-area{
    min-width: 100px;
    padding: 6px 12px;
    border-radius: 25px;
    margin-left: 6px;
    text-align: center;
    background: #23c6c8;
    color: #fff;
}
h3.in-tit{
    margin-top:0;
    margin-bottom: 20px;
    padding: 0 15px;
}
.map-wrap .panel-body{
    /* css 주석
    min-height: 420px;
     */
    max-height: 580px;
}
.form-group-search .btn-default{
    color: inherit;
}
.c-checkbox, .c-radio {
    margin-right: 24px;
}
.tag-list .c-checkbox{
    margin-right: 35px;
}
.c-checkbox input, .c-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0!important;
}
.c-checkbox *, .c-radio * {
    cursor: pointer;
}
.c-checkbox span, .c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ddd;
    margin-right: 6px;
    text-align: center;
}
.c-checkbox input[type=checkbox]:checked+span, .c-checkbox input[type=radio]:checked+span, .c-radio input[type=checkbox]:checked+span, .c-radio input[type=radio]:checked+span {
    border-color: #1ab394;
    background-color: #1ab394;
}
.c-checkbox span:before, .c-radio span:before {
    margin-left: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center!important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.c-checkbox input[type=checkbox]:checked+span:before, .c-checkbox input[type=radio]:checked+span:before, .c-radio input[type=checkbox]:checked+span:before, .c-radio input[type=radio]:checked+span:before {
    color: #fff;
    opacity: 1;
    transition: color .1s ease-out;
}
label.c-checkbox{
    font-weight: 400;
    margin-bottom: 6px;
}

/*새로 정의한 style*/
.inline-box > ul > li {
    display: inline;
    margin: 20px;
    width: 20%;
}

.dongButton {
    border: 0;
    background-color: #ffffff;
    margin: 4px;
    font-size: 20px;
}

.mainButton {
    display: inline-block;
    width: 25%;
    padding: 3%;
    font-size: 200%;
    background: #B1D2C9;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all .2s;
}

.mainButton:hover{
    background-color: #1ab394 !important;
    color: #fff;
}

.fontSize120 {
    font-size: 120%;
}